* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: #00897b;
  padding: 25px;
}

#mainCanvas {
  width: 85%;
  height: 85%;
  margin: 20px auto;
  display: block;
  padding: 10px;
  background: #fff;
  /* margin:  0; */
}

.btn-container {
  width: 70%;
  margin: auto;
  display: block;
  padding: 20px 0;
  text-align: center;
}

.btn {
  outline: 0;
  border: 0;
  padding: 10px 25px;
  border-radius: 5px;
  color: #f2f2f2;
  cursor: pointer;
  margin: 0 10px;
  font-size: 18px;
  background: #1565c0;
  box-shadow: 3px 6px 8px #0006;
}
